@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenRow>
            <RadzenColumn Size=8>
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="Radzen.AlignItems.End" JustifyContent="Radzen.JustifyContent.Start">
                    <RecipeNavMenu />
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size=4>
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.End">
                    <UserButton />
                </RadzenStack>
                
            </RadzenColumn>
        </RadzenRow>

    </RadzenHeader>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        Footer
    </RadzenFooter>
</RadzenLayout>
